<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FIGU屋</title>
  <link href="/logo.png" rel="icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
  {{#block 'css'}}
  {{/block}}
</head>

<body>
  {{#if admin}}
  <nav class="navbar navbar-expand-lg navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/logo.png" style="height: 40px" class="mx-1" />FIGU屋
      </a>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="d-block d-lg-none" style="color: #66402B">
            <i class="bi bi-person-circle mx-2"></i>{{admin.first_name}}
          </li>
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link" href="/admins/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product Details
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/details/collection">Collections</a></li>
              <li><a class="dropdown-item" href="/details/manufacturer">Manufacturers</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link" href="/admins/users">View users</a>
          </li>
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link" href="/admins/logout">Logout</a>
          </li>
          <li class="nav-item dropdown d-none d-lg-block">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle mx-2"></i>{{admin.first_name}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admins/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/admins/register">Add new admin</a></li>
              <li><a class="dropdown-item" href="/admins/users">View users</a></li>
              <li><a class="dropdown-item" href="/admins/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div style="width: 40px"></div>
    </div>
  </nav>
  {{else}}
  <nav class="navbar navbar-expand-lg navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto">
        <img src="/logo.png" style="height: 40px" class="mx-1" />FIGU屋
      </a>
    </div>
    <div style="width: 40px"></div>
    </div>
  </nav>
  {{/if}}
  {{#if success_messages}}
  {{#each success_messages}}
  <div class="alert alert-success mb-0">
    {{this}}
  </div>
  {{/each}}
  {{/if}}

  {{#if error_messages}}
  {{#each error_messages}}
  <div class="alert alert-danger mb-0">
    {{this}}
  </div>
  {{/each}}
  {{/if}}
  {{#block 'content'}}
  {{/block}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  {{#block 'js'}}
  {{/block}}
</body>

</html>