{{#extends 'base'}}
{{#block 'content'}}
<div class="container">
    <div>
        <button class="btn hide-search search w-100 my-1">HIDE SEARCH</button>
        <div class="search-box my-1 p-3">
            <h4>Search for: </h4>
            <form method="GET">
                <div class="row">
                    {{{form}}}
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/orders" class="m-2 btn reset"><i class="bi bi-arrow-counterclockwise"></i></a>
                    <button class="m-2 btn search"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <h4>orders</h4>
    <div class="container" style="overflow:auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Order summary</th>
                    <th>Payment method</th>
                    <th>Order status</th>
                    <th>Remarks</th>
                    <th>Last updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.customer.first_name}} {{this.customer.last_name}}<br />
                        {{this.customer.email}} <br />
                        {{this.block_street}}, {{this.unit}}, {{this.postal}}</td>
                    <td><b><a href={{this.receipt_url}}>{{this.payment_reference}}</b></a> <br />
                        Ordered on {{displayDate this.ordered_date}} <br />
                        <span class="italicize">{{this.shipping_type.shipping_type}} delivery (${{divide
                            this.shipping_type.amount 100}}),
                            delivers in {{this.shipping_type.min_day}} - {{this.shipping_type.max_day}}
                            days</span><br />
                        Total: ${{costWithDecimal this.total_cost}}<br />
                        {{#if this.coupon_used}}
                        Discount applied: {{this.coupon_used}}
                        {{/if}}
                        <ol>
                            {{#each this.orderedItems}}
                            <li class="ol-list">
                                {{this.figure.name}} x {{this.quantity}}
                            </li>
                            {{/each}}
                        </ol>
                    </td>
                    <td>{{this.payment_method}}</td>
                    <td>{{this.order_status.order_status}}</td>
                    <td>{{this.remarks}}</td>
                    <td>{{displayDateTime this.updated_date}}</td>
                    <td>
                        <a href="/orders/{{this.id}}/update" class="btn edit-btn btn-sm"><i
                                class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div>
    </div>
</div>
{{/block}}

{{#block 'js'}}
<script>
    let parentRow = document.querySelector('.row')
    let allFormDiv = document.querySelectorAll('.form-group');
    for (let each of allFormDiv) {
        let wrapper = document.createElement('div');
        if (each.innerHTML.includes('id_min_cost')
            || each.innerHTML.includes('id_max_cost')
            || each.innerHTML.includes('id_launch_status')
            || each.innerHTML.includes('id_blind_box')) {
            wrapper.classList.add('col-3');
        } else {
            wrapper.classList.add('col-6');
        }
        wrapper.appendChild(each);
        parentRow.appendChild(wrapper);

    }
</script>
<script>
    let hideBtn = document.querySelector('.hide-search');
    hideBtn.addEventListener('click', function () {
        if (hideBtn.innerText == 'HIDE SEARCH') {
            document.querySelector('.search-box').style.display = 'none';
            hideBtn.innerText = 'SHOW SEARCH';
        } else {
            document.querySelector('.search-box').style.display = 'block';
            hideBtn.innerText = 'HIDE SEARCH';
        }
    })
</script>
{{/block}}
{{/extends}}