{{#extends 'base'}}
{{#block 'content'}}
<div class="main-cont d-flex justify-content-center">
    <div class="container fix-size  align-items-center">
        <div class="text-center">
            <i class="bi bi-person-circle profile-icon"></i>
        </div>
        <h3 class="text-center">{{admin.first_name}} {{admin.last_name}}</h3>
        <h4 class="text-center">{{admin.email}} </h4>
        <h6 class="text-center update">update password</h6>
        <div class="container profile-content">
            <form method="POST">
                {{{form}}}
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <div class="text-center"><input type="submit" class="btn reset mt-5 text-center"
                        value="change password" /></div>
            </form>
        </div>
    </div>
    <div class="login-img">
        <img class="login-img" src="/login.jpg" />
    </div>
</div>
{{/block}}
{{/extends}}