{{#extends 'base'}}
{{#block 'content'}}
<div class="container">
    <div class="container" style="overflow:auto">
        <h2>Admins</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Created date</th>
                    <th>Last updated</th>
                </tr>
            </thead>
            <tbody>
                {{#each allAdmins}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{displayDate this.created_date}}</td>
                    <td>{{displayDate this.updated_date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="container" style="overflow:auto">
        <h2>Customers</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Created date</th>
                    <th>Last updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each allCustomers}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.contact_number}}</td>
                    <td>{{displayDate this.created_date}}</td>
                    <td>{{displayDate this.updated_date}}</td>
                    <td><a href="/admins/customer/{{this.id}}/update" class="btn edit-btn btn-sm my-1 mx-1">
                    <i class="bi bi-pencil-square"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/block}}
{{/extends}}