{{#extends 'base'}}
{{#block 'content'}}
<div class="container mt-2">
    <h4>add a new figure</h4>
    <form method="POST" action="/products/create">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="row">
            {{{figureForm}}}
        </div>
        <div>
            <a href="#" class="btn btn-primary" id="upload_widget">upload</a>
            <img src="" style="display: none" id="uploaded_image" />
        </div>
        <input type="submit" value="Create new product" class="btn btn-primary mt-2" />
    </form>
</div>
{{/block}}

{{#block 'js'}}
<script>
    let series_mediums = {{{ series_mediums }}}
    console.log(series_mediums);
    let selectedSeries = document.querySelector('#id_series_id');
    let allMediumCheckboxes = document.getElementsByName('medium_id');
    let newSeries = document.createElement('div');
    let selectedCollection = document.querySelector('#id_collection_id');
    let newCollection = document.createElement('div');
    newSeries.innerHTML = `
        <label class="form-label">Series name: <label>
        <input type="text" name="new-series" class="form-control"/>
        `
    newCollection.innerHTML =
        `<div> 
    <label class="form-label">Collection name: <label>
        <input type="text" name="new-collection" class="form-control"/>
        </div>
        <div> 
    <label class="form-label">Manufacturer name: <label>
        <input type="text" name="new-manufacturer" class="form-control"/>
        </div>
        `
    let allFields = document.querySelectorAll('.form-group');
    for (let each of allFields) {
        if (each.innerHTML.includes('id_series_id')) {
            each.appendChild(newSeries)
        }
        if (each.innerHTML.includes('id_collection_id')) {
            each.appendChild(newCollection)
        }
    }
    newSeries.style.display = 'none';
    newCollection.style.display = 'none';

    window.addEventListener('DOMContentLoaded', function () {
        if (selectedSeries.value == 0) {
            newSeries.style.display = 'block';
        }
        if (selectedCollection.value == 0) {
            newCollection.style.display = 'block';
        }
    })
    selectedSeries.addEventListener('change', function () {
        for (let each of allMediumCheckboxes) {
            each.checked = false
        }
        if (selectedSeries.value == 0) {
            newSeries.style.display = 'block';
        }
        else {
            for (let each of series_mediums) {
                let mediums = each[parseInt(selectedSeries.value)];
                if (mediums && mediums.length > 0) {
                    console.log(mediums)
                    for (let each of allMediumCheckboxes) {
                        for (let i = 0; i < mediums.length; i++) {
                            if (mediums[i] == parseInt(each.value)) {
                                each.checked = true;
                            }
                        }
                    }
                }
            }
        }
            })
    selectedCollection.addEventListener('change', function () {
        if (selectedCollection.value == 0) {
            newCollection.style.display = 'block';
        }
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
    function generateSignature(callback, params_to_sign) {
        axios.get('/cloudinary/sign', {
            params: {
                params_to_sign
            }
        }).then(function (response) {
            callback(response.data);
        })
    }
    var myWidget = cloudinary.createUploadWidget({
        cloudName: "{{cloudinaryName}}",
        apiKey: "{{cloudinaryApiKey}}",
        uploadPreset: "{{cloudinaryPreset}}",
        uploadSignature: generateSignature
    }, (error, result) => {
        if (!error && result && result.event === 'success') {
            console.log('completed, image info => ', result.info);
            document.querySelector('#upload_widget').style.display = 'none';
            document.querySelector('#id_image_url').value = result.info.url;
            document.querySelector('#uploaded_image').src = result.info.url;
            document.querySelector('#uploaded_image').style.display = 'inline';
        }
    })
    document.getElementById('upload_widget').addEventListener('click', function () {
        myWidget.open();
    }, false)
</script>
{{/block}}
{{/extends}}