{{#extends 'base'}}
{{#block 'content'}}
<div class="container">
    <div>
        <button class="btn hide-search search w-100 my-1">HIDE SEARCH</button>
        <div class="search-box my-1 p-3">
            <h4>Search for: </h4>
            <form method="GET">
                <div class="row">
                    {{{form}}}
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/products" class="m-2 btn reset"><i class="bi bi-arrow-counterclockwise"></i></a>
                    <button class="m-2 btn search"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <div class="alert alert-main">{{ length figures }} figure(s) found</div>
    </div>
    <div class="row">
        <div class="col-6 justify-content-start">
            <h4>products</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="/products/create" class="btn search">add new product</a>
        </div>
    </div>
    {{#if figures}}
    <div class="container" style="overflow:auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 5%">ID</th>
                    <th style="width: 35%">Figure</th>
                    <th style="width: 35%">Description</th>
                    <th style="width: 5%">Cost</th>
                    <th style="width: 10%">Release date</th>
                    <th style="width: 5%">Quantity</th>
                    <th style="width: 5%"></th>
                </tr>
            </thead>
            <tbody>
                {{#each figures}}
                <tr height='50px' {{#if this.quantity}} {{else}} class="sold-out" {{/if}}>
                    <td>{{this.id}}</td>
                    <td>
                        <div class="">
                            {{#if this.image_url}}
                            <img src="{{this.image_url}}" class="display-image" />
                            {{else}}
                            <img src="/placeholder.png" class="display-image" />
                            {{/if}}
                        </div>
                        <h6>{{uppercase this.name}}</h6>
                        {{#if this.launch_status}}
                        {{else}}
                        <span class="badge bg-danger">PRE-ORDER</span><br/>
                        {{/if}}
                        <span class="badge bg-main">
                            {{uppercase this.figure_type.figure_type}} {{uppercase 'FIGURE'}}
                        </span>
                        <div class="italicize">
                            Height: {{this.height}}mm </br />
                            Collection: {{uppercase this.collection.collection_name}}<br />
                            Manufactured by {{uppercase this.manufacturer.manufacturer_name}} <br />
                            From the {{uppercase this.series.series_name}} franchise
                        </div>
                        <div>
                            {{#each this.series.mediums}}
                            <span class="badge med-badge">{{this.media_medium}}</span>
                            {{/each}}
                        </div>
                        {{#if this.blind_box}}
                        <span class="badge bg-dark">BLIND-BOX</span> <br />
                        {{/if}}
                        <div class="italicize">
                            Listed on {{displayDate this.listing_date}} <br />
                            Last updated on {{displayDateTime this.last_updated}}
                        </div>
                    </td>
                    <td>
                        <div class="product-description" style="height: 100%; overflow-y: scroll">
                            {{this.description}}
                        </div>
                    </td>
                    <td>${{costWithDecimal this.cost}}</td>
                    <td>{{displayDate this.release_date}}</td>
                    <td> {{#if this.quantity}}
                        {{this.quantity}}
                        {{else}}
                        <span class="badge bg-danger">SOLD OUT</span>
                        {{/if}}
                    </td>
                    {{!-- <td>{{displayDateTime this.listing_date}}</td> --}}
                    <td>
                        <div class="d-flex">
                            <a href="/products/{{this.id}}/update" class="btn edit-btn btn-sm my-1 mx-1"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="/products/{{this.id}}/delete" class="btn btn-sm my-1 mx-1 delete-btn"><i
                                    class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div>
            no results found...
        </div>
    </div>
    {{/if}}
</div>
{{/block}}

{{#block 'js'}}
<script>
    let parentRow = document.querySelector('.row')
    let allFormDiv = document.querySelectorAll('.form-group');
    for (let each of allFormDiv) {
        let wrapper = document.createElement('div');
        if (each.innerHTML.includes('id_min_cost')
            || each.innerHTML.includes('id_max_cost')
            || each.innerHTML.includes('id_launch_status')
            || each.innerHTML.includes('id_blind_box')) {
            wrapper.classList.add('col-3');
        } else {
            wrapper.classList.add('col-6');
        }
        wrapper.appendChild(each);
        parentRow.appendChild(wrapper);

    }
</script>
<script>
    let hideBtn = document.querySelector('.hide-search');
    hideBtn.addEventListener('click', function () {
        if (hideBtn.innerText == 'HIDE SEARCH') {
            document.querySelector('.search-box').style.display = 'none';
            hideBtn.innerText = 'SHOW SEARCH';
        } else {
            document.querySelector('.search-box').style.display = 'block';
            hideBtn.innerText = 'HIDE SEARCH';
        }
    })
</script>
{{/block}}
{{/extends}}